<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.mercury.oschina">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS."/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name="org.mercury.oschina.base.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <activity android:name="org.mercury.oschina.ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="org.mercury.oschina.synthesis.ui.activity.NewsDetailActivity"/>
        <activity android:name="org.mercury.oschina.explorer.ui.activity.FriendQActivity"/>
        <activity android:name="org.mercury.oschina.explorer.ui.activity.Activitys"/>
        <activity android:name="org.mercury.oschina.explorer.ui.fragment.AllActivityWebView"/>
        <activity android:name="org.mercury.oschina.ui.activity.ThierActivity"/>
        <activity android:name="org.mercury.oschina.ui.activity.CollectionActivity"/>
        <activity android:name="org.mercury.oschina.ui.activity.UserDetailsActivity"/>
        <activity android:name="org.mercury.oschina.ui.activity.AppScreenActivity"/>
        <activity android:name="org.mercury.oschina.ui.activity.MsgActivity"/>
        <activity android:name="org.mercury.oschina.explorer.ui.activity.QRCodeActivity"/>
        <activity android:name="org.mercury.oschina.explorer.ui.activity.ShakeActivity"/>
        <activity
            android:name="org.mercury.oschina.ui.activity.QuickTextActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="org.mercury.oschina.ui.activity.LoginActivity"/>
        <activity android:name="org.mercury.oschina.ui.activity.QuickViodeActivity"/>
        <activity android:name="org.mercury.oschina.ui.activity.TextDialogActivity"/>
        <activity android:name="org.mercury.oschina.explorer.ui.activity.GenerateQRCodeActivity">
        </activity>
        <activity android:name="org.mercury.oschina.explorer.ui.activity.FindUserActivity">
        </activity>

        <activity android:name="org.mercury.oschina.tweet.activity.UserHomeActivity"/>
        <activity android:name="org.mercury.oschina.tweet.activity.PhotoActivity" />
        <activity android:name="org.mercury.oschina.tweet.activity.WebActivity" />
        <activity android:name="org.mercury.oschina.tweet.activity.TweetDetailActivity" />

        <activity android:name="org.mercury.oschina.ui.activity.BlogActivity" >
        </activity>
        <activity android:name="org.mercury.oschina.ui.activity.AppDetailsActivity">
        </activity>
        <activity android:name="org.mercury.oschina.ui.activity.NoteDetailActivity">
        </activity>
        <activity android:name="org.mercury.oschina.explorer.ui.activity.BlogInfoActivity"/>
        <activity android:name="org.mercury.oschina.explorer.ui.activity.ImageBigActivity" />

    </application>

</manifest>