<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.mercury.oschina" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS." />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="org.mercury.oschina.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >

        <activity
            android:name=".WelcomeActivity"
            android:launchMode="singleTop"
            android:theme="@style/App.Theme.Launch" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter >
        </activity >

        <activity android:name="org.mercury.oschina.synthesis.ui.NewsDetailActivity" />
        <activity android:name="org.mercury.oschina.explorer.ui.activity.FriendCircleActivity" />
        <activity android:name="org.mercury.oschina.explorer.ui.activity.CampaignActivity" />
        <activity android:name="org.mercury.oschina.explorer.ui.AllActivityWebView" />
        <activity android:name="org.mercury.oschina.main.activity.UserDetailsActivity" />
        <activity android:name="org.mercury.oschina.main.activity.AppScreenActivity" />
        <activity android:name="org.mercury.oschina.main.activity.MsgActivity" />
        <activity android:name="org.mercury.oschina.explorer.ui.activity.ShakeActivity" />
        <activity
            android:name="org.mercury.oschina.main.activity.QuickTextActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.qrcode.zxing.activity.QRCodeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity android:name="org.mercury.oschina.main.activity.QuickViodeActivity" />
        <activity android:name="org.mercury.oschina.main.activity.TextDialogActivity" />
        <activity android:name="org.mercury.oschina.explorer.ui.activity.GenerateQRCodeActivity" />
        <activity android:name="org.mercury.oschina.explorer.ui.activity.FindUserActivity" />

        <activity
            android:name="org.mercury.oschina.tweet.activity.OtherUserHomeActivity"
            android:launchMode="singleTop"
            android:theme="@style/App.Theme.Main"/>
        <activity
            android:name="org.mercury.oschina.tweet.activity.PhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Account_Base.App.Theme.NoTitle" />
        <activity android:name="org.mercury.oschina.tweet.activity.WebActivity" />

        <activity
            android:name="org.mercury.oschina.tweet.activity.TweetDetailActivity"
            android:label="动弹详情"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Base.App.Theme.NoTitle"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name="org.mercury.oschina.main.activity.BlogActivity" />
        <activity android:name="org.mercury.oschina.main.activity.AppDetailsActivity" />
        <activity android:name="org.mercury.oschina.main.activity.NoteDetailActivity" />
        <activity android:name="org.mercury.oschina.explorer.ui.activity.BlogInfoActivity" />
        <activity android:name="org.mercury.oschina.explorer.ui.activity.ImageBigActivity" />

        <activity
            android:name=".main.activity.MainActivity"
            android:label="首页"
            android:launchMode="singleTask"
            android:theme="@style/App.Theme.Main" />
        <activity
            android:name=".AuthActivity"
            android:label="登录验证"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".tweet.activity.ImageGalleryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/App.Theme.Full" />

        <activity
            android:name=".main.activity.UserSingleInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".user.PrivateMessageActivity"
            android:label="私信内容"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
    </application >

</manifest >